body{
    background-color: #333;
    color: whitesmoke;
}
h1{
    display: flex;
    justify-content: center;
}
.imgs-center{
    display:flex;
    justify-content: center;
}
h2{
    margin-left: 10vw;
    margin-right: 5vw;
}
p{
    margin-left: 15vw;
    margin-right: 5vw;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para la lista en el footer */
footer ul {
    list-style-type: none;
    padding: 0;
}
footer{
    display: flex;
    justify-content: center;
}

.footer-column{
 margin-left: 1vw;
 margin-right: 1vw;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Cambio de color al pasar el ratón por encima de los enlaces */
footer a:hover {
    text-decoration: underline;
}